body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.button {
  --background-clr: linear-gradient(to bottom right, red, blue);
  --border-clr: linear-gradient(to bottom right, red, blue);
  --border-width: .5em;
  --edge-size: .5em;

  position: relative;

  display: inline-grid;
  padding: .5em 1.5em;
  font-size: inherit;
  border: 0;
  background: var(--background-clr);
  clip-path: polygon(var(--edge-size) 0,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size));
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  transition: clip-path 250ms;
}

.button::before {
  background: #efefef;
  transform: scale(0.98, 0.95);
  clip-path: polygon(var(--edge-size) 0,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size));
  z-index: -2;
}

.button:where(:hover, :focus)::before {
  clip-path: polygon(100% calc(100% - var(--edge-size)),
      100% calc(100% - var(--edge-size)),
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      calc(100% - var(--edge-size)) 100%,
      calc(100% - var(--edge-size)) 100%);
}