@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);
@import "https://unpkg.com/open-props/theme.dark.switch.min.css" layer(demo.theme);
@import "https://unpkg.com/open-props/theme.light.switch.min.css" layer(demo.theme);


@import "picklist.css" layer(demo.component);
@import "taglist.css" layer(demo.component);

@layer demo.support {
    body {
        display: grid;
    }

    form {
        display: grid;

        @media (width > 720px) {
            grid-template-columns: 1fr 1fr;
        }

        & > * {
            display: grid;
            place-content: center;
            padding-block: var(--size-10) var(--size-10);
        }
    }

    input[type='radio'],
    input[type='checkbox'] {
        inline-size: 1.25rem;
        block-size: 1.25rem;
    }

    .dark,
    .light {
        color: var(--text-1);
        gap: var(--size-10);
        padding-inline: var(--size-3);
        padding-inline: max(var(--size-3), env(safe-area-inset-left));
    }

    .dark {
        background: var(--surface-1);
    }
    .light {
        background: var(--surface-3);
    }

}